<div class='container'>
  <div class= filters-container>
    <span id='filter-by'>Filter by:</span>
    <span class='filter-options' id='rank'> RANK </span>|
    <span class='filter-options' id='name'> NAME </span>|
    <span class='filter-options' id='linkedin_connections'> LINKEDIN </span>|
    <span class='filter-options' id='facebook_friends'> FACEBOOK </span>|
    <span class='filter-options' id='twitter_followers'> TWITTER </span>
  </div>

  <%= form_tag(users_path, method: :get, id:'search-form') do %>
   <%= text_field_tag :search, params[:search], id:'search-bar', autofocus: true%>
   <%= submit_tag 'Search', name: nil, id: 'search-submit'%>
  <% end %>

  <div id='users-container'>
    <%= render 'users' %>
  </div>
  



</div>