<div class='container'>
  <div class= filters-container>
    <span id='filter-by'>Filter by:</span>
    <span class='filter-options' id='rank'> RANK </span>|
    <span class='filter-options' id='name'> NAME </span>|
    <span class='filter-options' id='linkedin'> LINKEDIN </span>|
    <span class='filter-options' id='facebook'> FACEBOOK </span>|
    <span class='filter-options' id='twitter'> TWITTER </span>
  </div>

  <div id='users-container'>
    <%= render 'users' %>
  </div>
  


</div>